#title > p{
  line-height: 150%;
  font-family: monospace;
}

svg{
  /* border: 1px solid black; */
}

line {
  stroke: #888;
}

rect {
  fill: none;
}

rect.video {
  fill: none;
  stroke-width: 1px;
  stroke: #000;
}

rect.yt-home {
  fill: none;
  stroke-width: 1px;
  stroke: red;
}

text {
	fill: #8888ff;
  font-size: 12px;
	font-family: monospace;
  line-height: 15px;
}

text.video-title{
  fill: black;
  font-size: 15px;
}

text.YT-home{
  fill: red;
}

marker{
  fill:#888;
}
