body{
  background-color: #000;
}

#title > p{
  font-size: 1em;
  line-height: 140%;
  font-family: 'IBM Plex Mono', monospace;
  color: white;
}

svg{
  /* border: 1px solid green; */
}

line {
  stroke-width: 2px;
  stroke: white;
}

rect.video {
  fill: none;
  stroke-width: 2px;
  stroke: white;
}

marker{
  stroke: none;
  fill: white;
}

rect {
  fill: none;
}

rect.yt-home {
  fill: none;
  stroke-width: 1px;
  stroke: red;
}

text.meta-info>tspan, .author {
  color: white;
	fill: white;
	font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
}

.video-title{
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  font-size: 18px;
  line-height: 130%;
     white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;
}

text.YT-home{
  fill: red;
}
